{erl_opts, [debug_info]}.
{deps, [{enacl, ".*", {git, "https://github.com/aeternity/enacl.git", {ref, "2f50ba6"}}}]}.

{profiles, [{test, [{deps, [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}}]}]}
           ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

